[ req ]
prompt             = no
default_bits       = 4096
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName                = RU
localityName               = Moscow
organizationName           = RGU
commonName                 = 10.42.0.140
[ req_ext ]
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = localhost
IP.1 = 10.42.0.140
IP.2 = 127.0.0.1
